### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
#### Java template
*.class
.settings
.metadata
.classpath
.project
.idea/
*.iml
java-templates/
## Package Files #
*.war
*.ear

## virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## NPM and JavaScript replated
node_modules

## Generic
*.patch
/cise-mvn-repo/releases/
/cise-mvn-repo/snapshots/
/cise-mvn-repo/releases/
/cise-mvn-repo/snapshots/**
**/target/**
target/**


generated-sources
tmp/**

npm-debug.log

bundle.js
