<configuration >
<timestamp key="preciseByMonthSecond" datePattern="MMdd'T'HHmmss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${preciseByMonthSecond} %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="eu.cise.emulator.api.DefaultMessageResource" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>